__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/

.venv/
venv/
venv_*/
venv_dpl/


build/
dist/
*.manifest
*.spec.cache/

.DS_Store
Thumbs.db
.idea/
.vscode/


assets/*.mp4
*.zip
*.dmg
*.log
